body {
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: absolute;
    display: flex;
    gap: 33vw;
    padding: 10px 20px;
    align-items: center;
    z-index: 10;
}
.nav-right {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.nav-right li,a , select{
    padding: 0px 5px;
    color: black;
    font-weight: 800;
    text-decoration: none;
    border: none;
    font-size: large;
}
.nav-right a {
    border-bottom: 3px solid black;
}
header {
    position: absolute;
    display: flex;
}
.header-left {
    width: 48vw;
    height: 100vh;
    background-color:tomato;
    text-align: center;
    position: relative;
    animation:animate 2s linear;
}
@keyframes animate {
    0% {
      transform: scale(0) rotate(70deg);
      border-radius: 100%;
    }
    100% {
      transform: scale(1) rotate(360deg);
      border-radius: 0%;
    }
  }
.background >img {
    opacity: 0.9;
    position: absolute;
  }
 .background>img:nth-child(1),.background>img:nth-child(2),.background>img:nth-child(5),.background>img:nth-child(6){
    animation: move 2s linear infinite alternate;   
  }
  @keyframes move {
    0% {
        transform: rotate(5deg) translate(0px,0px) scale(1);
    }
    50% {
        transform: rotate(30deg) translate(-40px,95px) scale(1.1);
    }
    100% {
        transform: rotate(50deg) translate(40px,-45px) scale(1.2);
    }
  }
  .background>img:nth-child(2),.background>img:nth-child(3),.background>img:nth-child(4){
    animation: move 2s linear infinite alternate;
  }
  @keyframes move {
    0% {
        transform: rotate(5deg) translate(0px,0px) scale(1);
    }
    50% {
        transform: rotate(30deg) translate(95px,-50px) scale(1.1);
    }
    100% {
        transform: rotate(50deg) translate(-80px,14px) scale(1.2);
    }
  }
.header-left >img {
    position: absolute;
    margin-top: 14vh;
    left: 7vw;
    z-index: 10;
}
.social img {
    /* position: absolute; */
    margin-top: 90vh;
    float: inline-start;
    height: 30px;
}
.social {
    display: flex;
    gap: 15px;
    left: 20px;
    position: fixed;
    bottom: 20px;
    z-index: 10;
}
.header-right {
    width: 46vw;
    height: 100vh;
    padding-left: 50px;
    margin-top: 100px;
}
.header-right p {
    font-size: 17px;
    padding: 10px 0px;
}
.header-right h1 {
    font-size: 3rem;
    padding: 10px 0px;
}
.header-right div {
    margin-top: 20px;
    display: flex;  
    justify-content: center;
    gap: 50px;
    align-items: center;
    text-align: center;
}
.header-right input {
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 12px;
}
.header-right input:hover {
    background-color: white;
    color: black;
}
.header-right> section {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    z-index: 10;
}
main {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 98.8vw;
    background-image: url("https://assets-eu-01.kc-usercontent.com/559bb7d3-88a4-01c1-79a3-dd4d5b2d2bb0/7d886b86-835b-433d-bbbe-41e0c1b11467/Millies%20Cookies%20-%204.2%20landscape-799.jpg?w=3840&q=85&auto=format&lossless=1");
    background-size: cover;
    background-attachment: fixed;
}
aside {
    position: absolute;
    top: 200vh;
    display: flex;
    gap: 50px;
    padding: 80px 40px;
    background-color: #fff0e0;
    width: 100%;
}
.aside-left {
    width: 44vw;
    padding: 40px;
}
.aside-right {
    padding-top: 180px;
}
aside:hover  .aside-right>img{
    transition: all 0.5s linear;
    transform: translateY(-30px);
}
.aside-left h1 {
    font-size: 60px;
}
.aside-left h3 {
    padding: 13px 0px;
    font-size: 20px;
}
.aside-left p {
    font-size: 17px;
}
.aside-left h2 {
    padding: 20px 0px 10px;
}
.aside-left table,th,td {
    margin-top: 20px;
    font-size: 18px;
    padding: 3px 0px;
}
.aside-left >div {
    display: flex;
    gap: 50px;
    font-size: 17px;
    margin-top: 20px;
}
.container {
    position: absolute;
    top: 357vh;
    width: 100%;
    height:200vh;
    padding: 0px 100px;
}
.container>.data {
    text-align: center;
}
.data {
    margin-top: 50px;
}
.data h1{
    font-size: 3rem;
    padding: 20px 0px;
}
.data p {
    font-size: 1rem;
    padding: 3px 0px;
}
.data h2 {
    font-size: large;
    padding: 100px 0px 50px;
}
.container input{
    padding: 10px 5px;
    border-radius: 16px;
    margin-left: 30px;
}
.container input:hover {
    background-color: black;
    color: white;
}
.cards p {
    padding: 20px 0px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}
.firstcard {
    position: relative;
    width: 250px;
    height: 310px;
    text-align: center;

}
.firstcard-top {
    position: absolute;
    display: block;
    height: 200px;
    width: 200px;
    height: auto;
}
.firstcard-bottom {
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 200px;
  height: 0;
  transition: .2s ease;
}
.firstcard:hover  .firstcard-bottom {
    height: 200px;
}
.card-data {
    position: absolute;
    top: 200px;
    z-index: 10;
}
footer {
    padding-top: 80px;
    position: absolute;
    top: 620vh;
    background-color: black;
    height: 70vh;
    width: 100%;
}
footer>img {
    margin-left: 50px;
}
footer {
    display: flex;
    gap: 50px;
    color: white;
    font-size: medium;
}
.google {
    margin-top: 80px;
}
footer a, footer p{
    font-size: 0.8rem;
    padding: 5px 0px;
    text-decoration: none;
    color: white;
}
footer .end {
    margin-left: 50px;
}
